body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
}

.navbar{
  background:#020617;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 24px;
}

.logo{
  margin:0;
}

.menu{
  list-style:none;
  display:flex;
  gap:20px;
  margin:0;
  padding:0;
}

.menu li{
  cursor:pointer;
}
.menu li:hover{
  color:#22c55e;
}
